/* CSS for just the entries page */
body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
}

h3 {
    text-align: center;
}

.scrollableEntries {
    border-right-style: solid;
    overflow-y: scroll;
    width: 25%;
    mask-image: linear-gradient(to bottom, black calc(100% - 60px), transparent 100%);
}

#search {
    position: relative;
    left: 10px;
    top: 15px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    display: block;
    margin: auto;
    text-align: center;
    width: 80%;
}

details > summary {
    list-style: none;
}

.content {
    padding: 15px;
}

.scrollableEntries li {
    list-style: none;
    margin-bottom: 5px;
    
}

.scrollableEntries a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;

}

ol {
    padding-left: 10px;
}

details {
    padding: 5px 15px 0px 15px;
}

.scrollableEntries a:hover {
    background-color: #ffffff;
    border-radius: 5px;
}

.content {
    overflow-y: auto;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 65vw;
    height: 85%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.entry-content {
    display: none;
}

.entry-container.active {
    display: block;
}