/* CSS for just the entries page */
:root,
[data-selected-theme="light"] {
    --background: #ffffff;
    --delete-background: #999999;
    --add-task-color: #909090;
    --task-hover: #f0f0f0;
    --text-color: #1e1e1e;
	--navbar-color: #2196f7;
}

[data-selected-theme="dark"] {
    --background: #252525;
    --delete-background: #999999;
    --add-task-color: #d9d9d9;
    --task-hover: #c0bfbf;
    --text-color: #f4f4f4;
	--navbar-color: #1a3b57;
}

body {
    font-family: 'Radio Canada', Arial, Helvetica, sans-serif;
}

/* Style and transition animation for main */
main {
    display: flex;
    flex-direction: row;
    background-color: white;
    /*------ This set the main absolute position --------*/
    position: absolute; 
    right: 0;
    /*------ If something wrong might be this --------*/
    transition: width 0.3s ease;
    height: 100%;
}

.scrollable-entries {
    border-right-style: solid;
    overflow-y: scroll;
    width: 25%;
    mask-image: linear-gradient(to bottom, black calc(100% - 60px), transparent 1%);
}

/*Make scrollbar invisible*/
.scrollable-entries::-webkit-scrollbar {
    display: none;
}

/* handle responsiveness through a media query */
@media only screen and (max-width: 940px) {
    .scrollable-entries {
        width: 100%;
    }

    main {
        flex-direction: column;
    }
}


.header-entries {
    position: relative;
    display: block;
    top: 1rem;
    left: 1rem;
}

#add-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #A6A6A6;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    
}

#search {
    border-radius: 5px;
    font-size: 18px;
    margin: auto;
    text-align: center;
    width: 75%;
}

details > summary {
    list-style: none;
}

.content {
    padding: 15px;
}

.scrollable-entries li {
    list-style: none;
    margin-bottom: 5px;
    
}

.scrollable-entries a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;

}

ol {
    padding-left: 10px;
}

details {
    padding: 5px 15px 0px 15px;
}

.scrollable-entries a:hover {
    background-color: #ffffff;
    border-radius: 5px;
}

.content {
    overflow-y: auto;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 65vw;
    height: 85%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.entry-content {
    display: none;
}

.entry-container.active {
    display: block;
}

#popup {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.new-entry-popup {
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 55vw;
    height: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#submit {
    position: static;
    border-radius: 5px;
    background-color: #A6A6A6;
    font-size: 18px;
    width: 100%;
    height: 30px;
}

#delete-popup {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.delete-text {
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 25vw;
    height: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#edit-entry {
    position: relative;
    border-radius: 5px;
    background-color: #A6A6A6;
    font-size: 15px;
    width: 10%;
    left: 90%;
    height: 25px;
    cursor: pointer;
}

#delete {
    border-radius: 5px;
    background-color: #A6A6A6;
    font-size: 14px;
    width: 40%;
    height: 40px;
    cursor: pointer;
}

#cancel-delete {
    border-radius: 5px;
    background-color: #A6A6A6;
    font-size: 14px;
    width: 40%;
    height: 40px;
    cursor: pointer;
}

.title-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0%;
    margin-right: 2%;
    gap: 2%;
}

.side-title{
    margin: 0;
}

.delete-entry{
    border: none;
}

.delete-icon {
    width: 18px;
    height: 18px;
    position: relative;
    display: flexbox;
}

#new-entry > input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 4px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: inset;
    width: 100%;
}


/* Markdown formatting fixes, blockquotes, */

h1 {
    margin: .67em 0;
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

h2 {
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

h3 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1.25em;
}

h6 {
    font-size: .85em;
    color: #656d76;
}

p {
    margin: 1em;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 16px;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-color: gray;
}

table tr {
    background-color: #ffffff;
    border-top: 1px solid hsla(210, 18%, 87%, 1);
}

table th {
    padding: 6px 13px;
    border: 1px solid #d0d7de;
    font-weight: var(--base-text-weight-semibold, 600);
}

tr:nth-child(2n) {
    background-color: #f6f8fa;
}

table td {
    padding: 6px 13px;
    border: 1px solid #d0d7de;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

ol {
    padding-left: 2em;
    
}

blockquote {
    margin: 0;
    padding: 0 1em;
    border-left: .25em solid #30363d;
}

blockquote > p {
    color: #848d97;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: #e6edf3;
    background-color: #161b22;
    border-radius: 6px; 
}

p > code {
    padding: .2em .4em;
    margin: 0;
    font-size: 100%;
    white-space: break-spaces;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
}