/* CSS for just the home page */
:root,
[data-selected-theme="light"] {
    --background: #ffffff;
    --delete-background: #999999;
    --add-task-color: #909090;
    --task-hover: #f0f0f0;
    --text-color: #1e1e1e;
    --gradient-start: ;
}

[data-selected-theme="dark"] {
    --background: #565656;
    --delete-background: #999999;
    --add-task-color: #d9d9d9;
    --task-hover: #c0bfbf;
    --text-color: #f9f9f9;
    --gradient-start: rgba(37, 37, 37, 0);
    --gradient-middle: rgba(86, 86, 86, 0.2);
    --gradient-middle2: rgba(86, 86, 86, 0.4);
    --gradient-middle3: rgba(86, 86, 86, 0.95);
    --gradient-end: rgba(86, 86, 86, 1);

}

#bottom {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}

#fade-left {
    position: absolute;
    width: 9%; 
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to right, var(--gradient-start) 0%, var(--gradient-middle) 30%, 
    var(--gradient-middle2) 50%, var(--gradient-middle3) 70%, var(--gradient-end) 100%);
    pointer-events: none;
    z-index: 100;
}

#fade-right {
    position: absolute;
    width: 10%; 
    height: 100%;
    right: 0;
    top: 0;
    
    background: linear-gradient(to right, var(--gradient-start) 0%, var(--gradient-middle) 30%, 
    var(--gradient-middle2) 50%, var(--gradient-middle3) 70%, var(--gradient-end) 100%);
    pointer-events: none;
}

h1 {
    color: var(--text-color);
    font-size: 24px;
}

#make-task {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

/* Style and transition animation for main */
main {
    display: flex;
    flex-direction: column;
    background-color: var(--backgound);
    /*------ This set the main absolute position --------*/
    position: absolute; 
    right: 0;
    /*------ If something wrong might be this --------*/
    transition: width 0.3s ease;
    height: 100%;
}

.title {
    margin-bottom: 5px;
    position: relative;
    z-index: 10000;
    margin-left: 1rem;
}

#top {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#top-left {
    width: 50%;
    padding-left: 3%;
    position: relative;
    padding: 1.5em;
    padding-bottom: 0;
}

#top-right {
    width: 40%;
    padding-right: 3%;
}

/* media query for when the sccreen width is less than 900 px */
@media only screen and (max-width: 940px) {
    #bottom {
        overflow-y: visible;
    }

    #list {
        height: 50vh;
    }

    #top {
        flex-direction: column;
    }

    #top-left {
        width: 90%;
        margin: auto;
    }

    #top-right {
        width: 90%;
        margin: auto;
    }
}

/* CSS for the entries */
#entries-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}

.entry {
    min-width: 200px;
    height: 300px;
    background-color: #D9D9D9;
    padding: 10px;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-y: hidden;
    border-radius: 20px;
    border: none;
    font-family: 'Radio Canada', Arial, Helvetica, sans-serif;
}

.entry:focus, .entry:hover {
    background-color: #C0C0C0;
    cursor: pointer;
}

/* task list */
#list {
    display: inline-block;
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}


ul li {
    list-style: none;
    display: inline-block;
}

/* Item styling */
.add-task {
    background: none; 
    border: none; 
    color: var(--text-color);
    font-size: 1.4rem; 
    display: flex; 
    align-items: center; 
    cursor: pointer; 
    font-family: 'Radio Canada', sans-serif;
    margin-top: 0px; 
    width: 20VW;
  }

  /* Plus icon styles */
.add-task::before {
    content: '+'; 
    color: #ff0000; 
    color: #ff0000; 
    font-size: 3rem; 
    margin-right: 10px; 
    margin-bottom: 8px;
  }

.delete-btn {
    background-color: transparent;
    border: none;
    margin: auto;
}

.delete-btn:hover, .delete-btn:focus {
    cursor: pointer;
    background-color: var(--delete-background);
}

.delete-btn img{
    width: 40px;
    height: 40px;
    align-self: center;
    padding: 5px;
}

.due-date {
    display: block;
    margin: 5px;
    justify-self: end;
    font-family: Inter;

}

.home-task {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    width: 100%;
    align-items: center;
    padding: 5px;
}

.task:hover {
    background-color: var(--task-hover);
    cursor: pointer;
}

.task-name {
    padding-left: 1em;
    margin: 5px;
    font-family: Inter;
}
