/* CSS for just the home page */
#bottom {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}

h1 {
    font-size: 24px;
}

#top {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#make-task {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

main {
    display: flex;
    flex-direction: column;
}

#top-left {
    max-width: 60%;
    padding-right: 5%;
}

#top-right {
    width: 40%;
}

/* CSS for the entries */
#entries-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
}

.entry {
    min-width: 200px;
    height: 300px;
    background-color: #D9D9D9;
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;
}

.entry-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* task list */
#list {
    display: inline-block;
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}


ul li {
    list-style: none;
    display: inline-block;
}

/* Item styling */
.checkbox {
    width: 24px;
    height: 24px;
}

.description {  
    grid-column-start: 3;
    grid-column-end: 5;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    padding: 1em;
    margin: 5px;
    font-family: Inter;
    word-wrap: break-word;
}

.dropdown-btn {
    background-color: transparent;
    border-width: 0px;
}

.due-date {
    display: block;
    margin: 5px;
    justify-self: end;
    font-family: Inter;

}

#list {
    width: 80%;
    margin: auto;
}

.task, .detail-container {
    display: grid;
    grid-template-columns: 10% 10% 50% 30%;
    width: 100%;
}

.task img{
    padding-left: 30%;
}

.task-name {
    padding-left: 1em;
    margin: 5px;
    font-family: Inter;
}