/* Universal CSS styles for the whole repo */
#main-page {
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

main {
    width: 80vw;
}