/* CSS for just the tasks page */
body {
    font-family: 'Radio Canada';
}

.scroll-container {
    display: flex;
    min-height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.day-container {
    flex: 0 0 auto;
    min-height: 100%;
    width: 300px;
    margin-right: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Other elements inside daily container */

.add-task{
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    font-family: monospace;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 30px;
    margin-top: 10px;
    align-self: center;
    color:rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background 1s;
}

.add-task:hover{
    background: #0056b3;
}

.date {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 36px;
    padding: 10px;
}

/* Task style */

.task {
    position: relative;
    flex: 0 0 auto;
    margin-right: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.title {
    border: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    resize: none;
}

.description {
    border: 1px solid #ddd;
    resize: none;
}

.tags {
    border: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
    resize: none;
}

.task-buttons {
    position: absolute;
    bottom: 15px;
    right: 20px; 
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-left: 10px;
    justify-content: flex-end;
}
  
.task-buttons > button {
    background-position: center;
    background-color: white; 
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.5s;
  }
  
  .save-task {
    background-image: url(../assets/icons/save.svg);
    background-size: 20px 20px;
  }

  .save-task:hover {
    background-color: #d3d3d3;
  }
  
  .delete-task {
    background-image: url(../assets/icons/delete.svg);
    background-size: 35px 35px;
  }

  .delete-task:hover {
    background-color: #d3d3d3;
  }