/* CSS for just the tasks page */
:root,
[data-selected-theme="light"] {
    --background: #ffffff;
    --button-background: #D0D7FF;
    --weekchange-color: #ffffff;
    --task-hover: #f0f0f0;
    --text-color: #1e1e1e;
    --navbar-color: #978EEB;
    --task-elem-background: white;
    --task-elem-text-color: black;
    --navbar-select: #ffffff;
}

[data-selected-theme="dark"] {
    --background: #585858;
    --dark-background: url('../assets/background-dark.png');
    --button-background: rgb(255,255,255,0.2);
    --weekchange-color: inherit;
    --task-hover: #c0bfbf;
    --text-color: white;
    --navbar-color: #161E28;
    --task-elem-background: #161E28;
    --task-elem-text-color: white;
    --navbar-select: #1B2655;
}

body {
  font-family: 'Radio Canada', Arial, Helvetica, sans-serif;
}

/* Style and transition animation for main */
main {
  display: flex;
  flex-direction: column;
  background-image: var(--dark-background);
  background-color: var(--background);
  /*------ This set the main absolute position --------*/
  position: absolute; 
  right: 0;
  /*------ If something wrong might be this --------*/
  transition: width 0.3s ease;
  height: 100%;
}

/* Styles for the button container */
.button-container {
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
  padding: 8px;
  background-color: var(--weekchange-color); 
  border-bottom: 1px solid #ffffff;
  gap: 10px; /* Space between buttons */
}

/* Style buttons and input */
.button-container button, .button-container input {
  padding: 6px 14px;  /* Larger button size */
  font-size: 1.1rem;  /* Increased font size */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adds shadow */
}

.button-container #calendar-select {
  width: auto; 
  min-width: 200px; /* Minimum */
}

/* Hover effect for buttons */
.button-container button:hover, .button-container input:hover {
  background-color: #e0e0e0;
}

/* Ensure the scroll container takes up the remaining height */
.scroll-container {
  display: flex;
  min-height: 0; /* Allow it to shrink */
  overflow-x: auto;
  overflow-y: hidden; /* Hide vertical overflow */
  white-space: nowrap;
  padding: 10px; 
  box-sizing: border-box;
  flex-grow: 1;
  position: relative; 
  height: calc(100% - 60px); /* Adjust based on button container height */
}

/* Style for horizontal scrollbar */
.scroll-container::-webkit-scrollbar {
  height: 12px; /* Set height of the scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #a7a7a7; 
  border-radius: 6px; /* Rounded corners */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #777; /* Change color on hover */
}

.day-container {
  flex: 0 0 auto;
  min-height: calc(100vh - 120px); 
  width: 450px; /* Set the width */
  margin-right: 20px; /* Spacing between day-containers */
  padding: 20px; 
  background-color: var(--button-background);
  border: 1px solid var(--background);
  border-radius: 15px; /* Add rounded edges */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative; 
  text-align: left; 
  overflow-y: auto; /* Vertical scrolling within day container */
}

/* Custom scrollbar styles for day containers */
.day-container::-webkit-scrollbar {
  width: 7px;  
}

.day-container::-webkit-scrollbar-track {
  background: #f1f1f1;  
}

.day-container::-webkit-scrollbar-thumb {
  background: #888;  /* Scrollbar handle color */
}

.day-container::-webkit-scrollbar-thumb:hover {
  background: #555;  /* Scrollbar handle hover color */
}

/* Styles for the date */
.day-container .date {
  font-size: 1.5rem; 
  font-weight: bold; 
  font-family: 'Radio Canada', sans-serif; 
  color: var(--text-color); 
  margin-bottom: 0; 
  line-height: 1; 
}

/* Styles for the day of the week */
.day-container .day-of-week {
  font-size: 1.1rem; 
  font-family: 'Radio Canada', sans-serif; 
  color: var(--text-color); 
  margin-top: 0px; 
  margin-bottom: 10px; 
}

/* Other elements inside daily container */
.add-task {
  background: none; 
  border: none; 
  color: var(--text-color);
  font-size: 1.2rem; 
  display: flex; 
  align-items: center; 
  cursor: pointer; 
  font-family: 'Radio Canada', sans-serif;
  margin-top: 0px; 
}

/* Plus icon styles */
.add-task::before {
  content: '+'; 
  color: #ff0000; 
  font-size: 1.4rem; 
  margin-right: 10px; 
}

/* add hover effects */
.add-task:hover {
  text-decoration: underline; 
}

/* Task style */
.task {
  position: relative;
  flex: 0 0 auto;
  margin-top: 0rem;
  margin-bottom: 0.5rem; 
  padding: 0.1rem;
  background-color: #f4f4f4;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Radio Canada', sans-serif;
}

/* Task textarea style */
textarea {
  border: 1px solid #ddd;
  padding: 0.3rem;
  font-family: inherit;
  resize: none;
}

/* Task title style */
.title {
  border-radius: 10px 10px 0 0;
}

/* Task labels style */
.labels {
  border-radius: 0 0 10px 10px;
}

/* Time elements style */
.time-div {
  border: 1px solid #ddd;
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
}

/* More time element style */
input {
  font-size: 0.8rem;
  max-width: 5.6rem;
  margin: 0.25rem;
  font-family: inherit;
}

/* Task buttons style */
.task-buttons {
  position: absolute;
  bottom: 5px;
  right: 5px; 
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-left: 10px;
  justify-content: flex-end;
}

.task-buttons > button {
  background-position: center;
  background-color: white; 
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.5s;
}

.delete-task {
  background-image: url(../assets/icons/delete.svg);
  background-size: 35px 35px;
}

.delete-task:hover {
  background-color: #d3d3d3;
}

/* Priority dropdown style */
.priority-dropdown {
  margin-top: 10px;
  width: 12.5%; /* Adjusted width to 1/8th of its current width */
  border-radius: 15px;
  border: 1px solid #827F7F; /* Set border color */
  outline: none;
}
/* Priority dropdown options style
.priority-task {
    background: none;
    border: none;
    color: #827F7F;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.priority-task::before {
    content: attr(data-priority);
    margin-right: 5px;
}

.priority-task[data-priority="high"] {
    color: red;
}

.priority-task[data-priority="medium"] {
    color: orange;
}

.priority-task[data-priority="low"] {
    color: green;
}*/